mixin button({ tag = 'button', text = '', type = 'contained', link=null})
    - const layoutClass = attributes.class ? ` ${attributes.class}` : ''
    -
        const typeClass = !type ? 'button_default' : type.split(' ').map((t) => `button_${t}`).join(' ')
    #{tag}(
        class=`button ${typeClass}${layoutClass}`
        href=link? link: false
    )
        =text
        if type === 'wide'
            i.material-icons.button__arrow arrow_forward
