mixin button({ tag = 'button', text = '', isHigh = true, isWide = false, type = 'contained', link=null})
    - const layoutClass = attributes.class ? ` ${attributes.class}` : ''
    -
        let typeClass = !type ? 'button_default' : `button_${type}`
            if (isHigh) typeClass = typeClass + ' button_high';
            if (isWide) typeClass = typeClass + ' button_wide';
    #{tag}(
        class=`button ${typeClass}${layoutClass}`
        href=link? link: false
    )
        =text
        if type === 'wide'
            i.material-icons.button__arrow arrow_forward
