mixin text-field({placeholder = '', label = ''}={})
    - const layoutClass = attributes.class ? ` ${attributes.class}` : ''
    label.text-field__label= label
        input(
            type='text'
            class=`text-field__input${layoutClass}`
            placeholder=placeholder
            )

