mixin field-header({name, status, noMargin=false}={})
    - const layoutClass = attributes.class ? ` ${attributes.class}` : ''
    div(class=`field-header${layoutClass}`)
        .field-header__caption(class=noMargin? 'field-header__caption_no-margin': '')
            p.field-header__name= name
            if status
                p.field-header__status= status
        block
