mixin checkbox({ text = '', name='', defaultValue=false, header='' })
    .checkbox-button
        input(
            class=`checkbox-button__input checkbox-${name}`
            type="checkbox"
            name= name
            id= name
            checked= defaultValue
        )

        label.checkbox-button__label(for=name)
            if header
                span.checkbox-button__header= header
                br
                span.checkbox-button__subheader= text
            else
                =text
