mixin checkbox({ text = '', name='', defaultValue=false, header='' })
    .checkbox
        input(
            class=`checkbox__input checkbox-${name}`
            type="checkbox"
            name= name
            id= name
            checked= defaultValue
        )

        label.checkbox__label(for=name)
            if header
                span.checkbox__header= header
                br
                span.checkbox__subheader= text
            else
                =text
