mixin checkbox({ text = '', name='', defaultValue=false, header='' })
    - const inputClass = header ? ' checkbox__input_rich' : ''
    - const labelClass = header ? ' checkbox__label_rich' : ''
    .checkbox
        input(
            class=`checkbox__input ${inputClass}`
            type="checkbox"
            name= name
            id= name
            checked= defaultValue
        )

        label(class=`checkbox__label${labelClass}` for=name)
            if header
                span.checkbox__header= header
                br
                span.checkbox__subheader= text
            else
                =text
