mixin radiobutton({name, options})
    .radiobutton
        each option, idx in options
            .radiobutton__option
                input(
                    name=name,
                    type="radio",
                    value=idx+1
                    class='radiobutton__input'
                    )
                label(for=option class='radiobutton__label')= option
