include ../../blocks/logo/logo

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title Base page
        block variables
    body(class=`${mainClass}__body`)
        h1(class=`${mainClass}__page-title`)=pageTitle
        div(class=`${mainClass}__page`)
            +logo({className: `${mainClass}__logo`, type: 'light'})
            main(class=`${mainClass}__main`)
                block content
