mixin range-slider({ text = '', name='', defaultValue=false })
    .range-slider
        input(
            class=`range-slider__input`
            type="range"
            name= name
            id= name
        )
        label.range-slider__label(for=name)= text

