mixin range-slider({ text = 'Диапазон цены', name='priceRange', defaultValue=false }={})
    .range-slider
        input(
            class=`range-slider__input`
            type="range"
            name= name
            id= name
        )
        label.range-slider__label(for=name)= text

