mixin masked-input({placeholder = '', label=''} = {})
    - const layoutClass = attributes.class ? ` ${attributes.class}` : ''
    label.masked-input__label= label
        input(
            type='text'
            class=`masked-input__input${layoutClass}`
            placeholder=placeholder
            )
