include ../logo/logo
mixin ui-page({withBackground=false, fullWidth=false, pageName=''} = {})
    -
        let classes = withBackground ? "ui-page_with-background": ""
        classes = `${classes}${fullWidth ? ' ui-page_full-width' : ''}`
        let contentModifier = fullWidth ? 'full-width': 'columned'
        const contentClass = `ui-page__content_${contentModifier} ui-page__content_${pageName}`
    article.ui-page(class=classes)
        +logo({className:'ui-page__logo', type: 'light'})
        .ui-page__content(class=contentClass)
            if block
                block


