include ../rate-button/rate-button
mixin room-details({number, isLux, price, rating, reviewCount})
    .room-details
        .room-details__image-slideshow
            - const roomImg = `room${number}.png`
            img.room-details__image(src=require(`../../assets/${roomImg}`) alt=`room ${number}`)
        .room-details__description
            .room-details__detail-row
                p.room-details__room №&nbsp;
                    span.room-details__no #{number}
                    if isLux
                        span.room-details__lux &nbsp;люкс
                p.room-details__price
                    span.room-details__amount #{`${Math.floor(price / 1000)} ${price - Math.floor(price / 1000)*1000}`}₽
                    span.room-details__period &nbsp;в сутки
            .room-details__rating-row
                +rate-button({rating: rating})
                p.room-details__reviews
                    span.room-details__review-no= reviewCount
                    span.room-details__review &nbsp;Отзывов
