mixin field-sample({name, status, noMargin=false})
    - const layout = attributes.class || 'column'
    .field-sample
        .field-sample__caption(class=noMargin? 'field-sample__caption_no-margin': '')
            p.field-sample__name= name
            if status
                p.field-sample__status= status
        div(class=`field-sample__${layout}`)
            block
